.contact-container {
  height: 500px;
}

.title-container {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  border-radius: 8px;
  height: 25px;
}

.separator {
  background: var(--jet);
}

.socials {
  color: var(--light-gray-70);
  font-size: 18px;
  a {
    text-decoration: none;
  }
}
